@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero-container{
  height: fit-content;
}

/* Carousel styling */
.carousel-container{
  height: 12rem;
  
}

.carousel-items{
  height: 12rem

}

/* Header styling */
.header{
  height: fit-content;
}
.header-text{
  width: 95%;
  font-family: "Poppins", sans-serif;
  
}

.header-text>h2{
  font-weight: 600;
}

.header-text>p{
  font-weight: 500;
}
/* luxurycar styling */
.luxurycars-img{
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}
.luxurycars-img>div{
width: 9rem;
height: 6rem;
margin-bottom: 3rem;
}

.luxurycars-img>div>img{
 width: 100%;
 height: 100%;
}
 
.luxurycars-img>div>p{
  font-size: 17px;
  font-weight: bolder;
}

/* Our services styling */
.company-services{
  width: 100%;
  margin: auto;
}

.services-briefing{
  width: 93%;
  margin: auto;
}
.services-briefing>h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.os-underline{
  width:50%;
  height: 4px;
  background-color: #BE1717;
  margin-bottom: 2rem;
}

.services-briefing>p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.our-services{
  width: 90%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.our-services>div{
  margin-bottom: 1.5rem;
}

.our-services>div>img{
  width: 100%;
  height: 100%;
}

.our-services>div>.services>p{
  height:4rem ;
  background-color: #BE1717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* About Us Styling */
.about-us{
  width: 90%;
  font-family: "Poppins", sans-serif;
  
}
.about-us>h3{
  font-size: 21px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.about-us>h5{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.about-us-btn{
  background-color: #BE1717;
  height: 2.8rem;
  border-radius: 5px;
  font-size: 16px;
  width: 9rem;
}
/* Customer rating */
.customer-rating-container{
  background-color: #F6F6F6;
}
.customer-rating{
  width: 93%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.customer-rating>h2{
  font-size: 20px;
  font-weight: 700;
  color: #2E3642;
}
.customer-rating>p{
  font-size: 16px;
  font-weight: 400;
}
.best-price-alight{
  color: #BE1717;
  font-weight: 500;
}

.satisfaction-section>div>img{
  width:8rem ;
  height: 8rem;
  margin-bottom: 2rem;
}

.satisfaction-section>div>h4{
  font-size: 35px;
}

.satisfaction-section>div>p{
  margin-top: -14px;
  font-size: 15px;
}
