@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pop-up-btn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  position: fixed;
  bottom: 1.3rem;
  height: 4rem;
  width: 15rem;
}

.pop-up-btn>button{
 border-radius: 6px;
 background-color: #F5F7F9;
 width: 10.4rem;
}

.svg-container{
  border-radius: 30px;
  background-color: #40C351;
  padding: 8px;
  height: 3.4rem;
  width: 3.4rem;
  margin-left: -10px;
}
.svg-container>img{
  object-fit: contain;
  height:2.5rem ;
  margin-top:-2px;
}